* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.headerBigNav {
    box-sizing: border-box;
    position: absolute;
    display: flex;

    width: 100%;
    height: 150px;
    padding: 0 5%;

    z-index: 2;
}

.headerBigNav:hover {
    background-color: white;
}

.headerBigNav:hover .mainBtnLi>a {
    color: black;
}

.menuWrap.left {
    display: flex;
    flex: 2;
}

.logo {
    flex: 1;
}

.menuWrap.right {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

h1 {
    height: 100%;
    background: url(../../../image_folder/logo_basic.png) center / 100%;

    min-width: 250px;
}

/* === */

.mainBtnLi {
    display: flex;
    height: 100%;

    align-items: center;
}

.mainBtnLi>a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    color: white;
}

.mainBtnLi>a:hover {
    opacity: .5;
}

.iconBtn {
    width: 50px;
    height: 50px;
}

.non_iconBtn {
    width: 130px;
    height: 50px;

    min-width: 80px;
}

.leftMainUl {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
}

.leftMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

.leftMainLi:first-of-type {
    margin-right: 10px;
}

.rightMainUl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.rightMainLi:first-of-type {
    margin-right: 30px;
}

.rightMainLi:nth-of-type(n+3) {
    margin-left: 20px;
}

/* 
=========
*/

.leftMainUl>li>ul {
    display: grid;
    visibility: hidden;
    position: absolute;

    grid-template: .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr 1fr .3fr/ 1fr .3fr 3fr .3fr;

    left: -100%;
    top: 150px;
    width: 800px;
    height: calc(100vh - 150px);

    border: 1px solid;
    background-color: white;
}

.leftMainUl>li:nth-child(3) {
    cursor:default;
}

.leftMainUl>li:nth-child(3):hover>ul {
    cursor:default;
    visibility: initial;
    left: 0;

    transition: left .5s;
    /* -webkit-transition: left .5s;
    -moz-transition: left .5s;     
    -ms-transition: left .5s;
    -o-transition: left .5s; */
}

.hoverLi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hoverLi a {
    color: black;
}

.hoverLi.num1 {
    grid-area: 2 / 1 / span 1 / span 1;
}

.hoverLi.num1 a:hover,
.hoverLi.num2 a:hover,
.hoverLi.num3 a:hover,
.hoverLi.num4 a:hover,
.hoverLi.num5 a:hover{
    background-color: gray;
}

.hoverLi.num1~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;

    /* default */
}

.hoverLi.num1:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2014/12/08/14/23/pocket-watch-560937_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num2 {
    grid-area: 4 / 1 / span 1 / span 1;
}

.hoverLi.num2:hover~li:last-of-type>div {
    background:url(https://cdn.pixabay.com/photo/2016/06/12/20/27/macro-1452987_1280.jpg) center/ cover no-repeat;
}

/* ===== */

.hoverLi.num3 {
    grid-area: 6 / 1 / span 1 / span 1;
}

.hoverLi.num3:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/05/09/16/13/texture-3385535_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num4 {
    grid-area: 8 / 1 / span 1 / span 1;
}


.hoverLi.num4:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2018/06/10/12/51/olive-wood-3466396_1280.jpg) center / cover no-repeat;
}

/* ===== */

.hoverLi.num5 {
    grid-area: 10 / 1 / span 1 / span 1;
}

.hoverLi.num5:hover~li:last-of-type>div {
    background: url(https://cdn.pixabay.com/photo/2016/06/24/09/14/glass-1476909_1280.jpg) center / cover no-repeat;

    background-position: -300px;
}

/* ===== */

.hoverLi.num6 {
    grid-area: 2 / 3 / -2 / span 1;
}

.hover_a, .hover_div {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
}

.hover_a, .hover_div {
    width: 100%;
    height: 100%;
}

.hover_a.hoverMenu {
    width: 80%;
}


/* 
header
===================================================== 
*/

main>section {
    display: grid;
    height: 160vw;
    grid-template: 2fr 1fr 500px 1fr 8fr 1fr / 15% 3.5fr 3.5fr 15%;

}

.main_banner {
    grid-area: 1 / 1 / span 1 / -1;

    background: url(../../image_folder/background_watch_brown.jpeg) center / 100%;
    opacity: .9;
}

.underSectionTop {
    grid-area: 2 / 2 / span 1 / span 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.underSectionTop p {
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
}

.item_image {
    width: 90%;
    height: 90%;
    justify-self: center;
    grid-area: 3 / 2 / span 1 / span 1;
    /* border-left: 1px solid; */
    background: url(../../image_folder/itemOne_02.jpeg) center/ 100% no-repeat;
}

.item_image:hover {
    border-left: 1px solid;
    background: url(../../image_folder/itemOne_02.jpeg) center/ 110% no-repeat;

    transition: 1s ease-out 300ms;
}

.item_discription {
    width: 90%;
    height: 90%;
    justify-self: center;
    grid-area: 3 / 3 / span 1 / span 1;
    display: grid;
    grid-template: 4fr 3fr 2.5fr 2fr / 1fr;
}

.item_discription select {
    width: 200px;
}

.item_main {
    position: relative;
    grid-area: 5 / 2 / span 1 / span 2;
    display: grid;

    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.item_main::after {
    content: "";
    position: absolute;
    opacity: .3;
    width: 100%;
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2021/07/25/12/22/tourist-attraction-6491734_960_720.jpg) center / cover no-repeat;
}
.first, .fourth, .second, .third{
    z-index: 1;
}

.item_main .first {
    background: url(../../../image_folder/watch01.png) center /60% no-repeat;
    opacity: .9;

}

.item_main .fourth {
    background: url(https://www.audemarspiguet.com/content/dam/ap/com/fragments/code-11-59-first-fragment/26399nr-oo-d002kb-01/car3_26399NR.OO.D002KB.01.jpg.transform.apcarouselv.jpg) center / 80% 80% no-repeat;
    opacity: .9;

}
.item_main .second,
.item_main .third{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
    text-align: center;
    word-break: break-all;
}
.item_main .second{
padding-right: 5%;
box-sizing: border-box;
}
.item_main .third{
padding-left: 5%;
box-sizing: border-box;
}
.underSectionBottom {
    grid-area: 6 / 2 / span 1 / span 2;
}

/* ======
    discription top
*/

.inner_dis_all {
    display: flex;
}

.inner_dis_all:not(:first-of-type) {
    border-top: 1px solid gray;
}

.inner_dis_all div:first-of-type {
    width: 30%;
}

.inner_dis_all div:last-of-type {
    width: 70%;
}

.inner_dis_all>div, .inner_dis_all>p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 20px;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inner_dis_btn {
    display: flex;
    justify-content: space-evenly;
}

.inner_dis_btn button {
    align-self: end;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height: 80%;
    border: 1px solid;
    border-radius: 3%;

    cursor: pointer;
    color: white;
    background-color: transparent;
    overflow: hidden;
}

.inner_dis_btn .listBtn {
    color: black;
}

.buyBtn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
}

.buyBtn::after, .listBtn::after {
    content: "";
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: -1;
}

.buyBtn:hover::after, .listBtn:hover::after {
    left: 0;
    transition: .7s;
}


/* 
===================================================== main^
*/

@media screen and (min-width:400px) {
    footer {
        width: 100%;
        height: auto;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;
        height: auto;
        display: grid;
        grid-template-rows: .5fr 2fr 1fr 3fr .5fr 2fr .5fr 3fr .5fr 2fr .5fr 3fr .5fr 1fr .5fr 1.5fr ;
    }

    .footer_center {
        text-align: center;
        align-self: center;
    }

    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-row: 14/15;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        border-radius: 50%;
    }

    .footer_icon>span i {
        color: black;
    }

    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    
    .footer_left_name {
        grid-row: 2/3;
    }

    .footer_left_contents {
        grid-row: 4/5;
    }

    .footer_middle_name {
        grid-row: 6/7;
    }

    .footer_middle_contents {
        grid-row: 8/9;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
    
        grid-row: 10/11;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
    
        grid-row: 12/13;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

    .footer_last_contents {
    
        grid-row: -1/-2;
    
        font-size: 1.3em;
    }
}

@media screen and (min-width:1000px) {
    footer {
        width: 100%;
        height: 40vh;
    
        display: flex;
        justify-content: center;

        background-color: #444;
        color: white;
    }

    footer>.container {
        width: 70%;

        display: grid;
        grid-template: .5fr 2fr 5fr 1fr 1.5fr / 3fr .5fr 3fr .5fr 3fr;

    }
    
    .footer_center {
        text-align: center;
        align-self: center;
    }
    
    .footer_font_size {
        font-size: 1.5em;
    }

    .footer_icon {
        grid-area: 4 / 1 / 5 / span 1;
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        padding: 0 30px;
        position: relative;
    }

    .footer_icon span a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer_icon span {
        width: 40px;
        height: 40px;

        background-color: white;
    
        border: 1px solid;
        /* border-radius: 30%; */
        
    }

    .footer_icon>span i {
        color: black;
    } 
    
    .footer_icon>span:nth-child(1):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s;
    }

    .footer_icon>span:nth-child(2):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(3):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }
    .footer_icon>span:nth-child(4):hover {
        /* position: absolute; */
        width: 100%;
        border-radius: 30px;
        transition: width 2s ;
    }

    .footer_left_name {
        grid-area: 2 / 1 / 3 / span 1;
    }

    .footer_left_contents {
        grid-area: 3 / 1 / 4 / span 1;
    }

    .footer_middle_name {
        grid-area : 2 / 3 / span 1 / 4;
    }

    .footer_middle_contents {
        grid-area : 3 / 3 / span 1 / 4;

        display: grid;
        grid-template: repeat(3,1fr) / .3fr .7fr;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
    }

    .footer_right_align {
        justify-self: end;
        padding-right: 20px;
    }

    .footer_middle_contents>p>i {
        justify-items: right;
    }

    .footer_right_name {
        grid-area : 2 / -1 / span 1 / -2 ;
    }

    .footer_right_leftalign {
        justify-self: start;
    }

    .footer_right_contents {
        grid-area: 3 / -1 / span 1 / -2;

        display: grid;
        grid-template: repeat(3,1fr) / repeat(2,1fr);

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    
        text-align: center;
        font-size: 1.2em;
    }

.footer_last_contents {
        grid-area: -1 / 1 / -2 / span 5;
    
        font-size: 1.5em;
    }
}
/* ============================== */

@media screen and (max-width:1350px) {
    main>section {
        grid-template: 150px 200px 100px 1fr 100px/ 1.5fr 7fr 1.5fr;
    }

    .headerMainUl .mainBtnLi.non_iconLi {
        display: none;
    }
}